<ul class="pagination">

    {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
    {% endif %}

    <li class="page-item active"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>

    {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> next </a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}

</ul>