body{
    background-image: url("/media/background_img.jpg");
    color: #555555;
    margin-top: 70px;
}

h2{
    color: #474747;
    font-weight: bold;
    font-size: 40px;
}

.bg-steel {
    background-color: darkred;
}

.site-header .navbar-nav .nav-link {
  color: gold;
}

.list-group-item{
    border: #b5b5b5 dotted 1px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ff7300;
}

.site-header .navbar-brand{
    color: gold;
}

.site-header .navbar-brand:hover{
    color: #ff7300;
}

.image_mini{
    max-width: 250px;
}

.image_normal{
    max-width: 800px;
}

.image_micro{
    max-width: 40px;
}

.list-group .list-group-item-light{
    background: transparent;
}
main{
    margin-top: 50px;
}

.post_title a{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #6d6d6d;
}

.post_title a:hover{
    color: #000000;
    text-decoration: none;
}

.list-group a{
    color: #6d6d6d;
    font-weight: 500;
}

.list-group a:hover{
    color: #000000;
    text-decoration: none;
}

.tag-link{
    text-decoration: none;
    color: darkgreen;
}

.tag-link:hover{
    text-decoration: none;
    color: #ff7300;
    transition: 0.5s;
}

.hide-link{
    text-decoration: none;
    color: red;
}

.hide-link:hover{
    text-decoration: none;
    color: darkred;
    transition: 0.5s;
}