{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Login Page</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Login">
    </form>
    <p></p>
    <p>Did you forget your password ? <a href="{% url 'password_reset' %}">click here</a></p>
    <p>Don't have account? You can create it <a href="{% url 'register' %}">here</a></p>
{% endblock %}