{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <h2>Password reset</h2>
    <p>We sent an email message with information that allow you to define new password</p>
    <p>If you dont received the email, ensure if you gave us a correct email address</p>
{% endblock %}