{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <h2>Did you forget password?</h2>
    <p>Input your email to reset it</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value='Send email'>
    </form>
{% endblock %}