{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password change{% endblock %}
{% block content %}
    <h2>Do you want to change your password?</h2>
    <p>Input a new one bellow</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value='Change password'>
    </form>
{% endblock %}