{% extends 'base.html' %}
{% block title %}Password change{% endblock %}
{% block content %}
    <h2>Password change</h2>
    <p>Your password has been changed. You can login <a href="{% url 'login' %}">here</a></p>
{% endblock %}