{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <h2>Password reset</h2>
    <p>Your password has been defined. You can login <a href="{% url 'login' %}">here</a></p>
{% endblock %}