{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <h2>Password reset</h2>
    {% if validlink %}
    <p>Write twice your new password</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="change password">
    </form>
    {% else %}
    <p>A link isn't correct, try to reset password again</p>
    {% endif %}
{% endblock %}