{% extends 'base.html' %}
{% load blog_tags %}
{% load crispy_forms_tags %}
{% block title %}Most commented Posts{% endblock %}
{% block content %}
    <h2>Mostly commented Posts</h2><p></p>

    {% get_most_commented_posts 5 as most_commented_posts %}
    {% for post in most_commented_posts %}
       <h4 class="post_title"><a href="{% url 'post:post_detail' post.pk %}">{{ post.title|title }}</a></h4>
        <p>{{ post.created }} - <img class="image_micro" src="{{ post.author.profile.image.url }}"> <strong>{{ post.author }}</strong></p>

        <p>
        Tags: {% for tag in post.tags.all %}
        <a class="tag-link" href="{% url 'post:posts_by_tag' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %},{% endif %}
        {% empty %}There are no tags for this post
        {% endfor %}
        </p>

        <div class="post_image">
        {% if post.image %}
            <img src="/media/{{ post.image }}" class="image_mini">
        {% endif %}
        </div>
        <p></p>
        <p>{% autoescape off %}{{ post.body|truncatewords:60 }}{% endautoescape %}</p>
        <p>Comments: {{ post.comments.all.count }}</p>
    {% endfor %}

{% endblock %}