{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Post{% endblock %}
{% block content %}
    <h2>You can add new post here</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Create post</button>
    </form>
{% endblock %}
