{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete {{ object.title|title }}{% endblock %}
{% block content %}
    <h2>Do you want to delete the post "{{ object.title|capfirst }}" ? </h2>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit" >Yes</button>
        <button class="btn btn-warning" type="button" onclick="window.location.href='{% url 'post:post_list' %}'">Cancel</button>
    </form>
{% endblock %}