{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ object.title|title }}{% endblock %}
{% block content %}
        <h2><b>"{{ object.title|title }}"</b></h2>

        <p>
        Tags: {% for tag in post.tags.all %}
        <a class="tag-link" href="{% url 'post:posts_by_tag' tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %},{% endif %}
        {% empty %}There are no tags for this post
        {% endfor %}
        </p>

        {% if post.image %}
        <img class="img-fluid" src="{{ post.image.url }}">
        {% endif %}

        {% autoescape off %}
        {{ object.body|linebreaks }}
        {% endautoescape %}

        <div class="mb-5"><b>Author</b><h6>{{ object.author|title }}</h6></div>

        <form method="post" class="mb-2" id="add_comment">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success btn-sm">Add your comment</button>
        </form>

        <div id="new_comment" class="mb-4"></div>

        {% for comment in post.comments.all %}

            {% if not comment.hidden %}
            <div id="new_comment" class="mb-4">
                <h6 class="mt-4">Written: {{ comment.date_added }} by: {{ comment.author }}</h6>
                <p>{{ comment.text }}</p>
            </div>

            <p>
            {% if request.user == post.author %}
                <a class="hide-link" id="hide_comment" href="{% url 'post:hide_comment' pk=comment.pk %}">Hide comment</a>
            {% endif %}
            </p>
            {% endif %}

        {% empty %}
            <div id="new_comment" class="mb-4"></div>
            <p>Nobody has comment this post yet!</p>
        {% endfor %}

{% endblock %}

{% block javascript %}
    <script>
        $("#add_comment").on("submit", function (event) {
            event.preventDefault();
            console.log("add comment has been hit");
            // serialize the data for sending the form data.
            let serializedData = $(this).serialize();
            // make POST ajax call
            $.ajax({
                url: "{% url 'post:add_comment' pk=post.pk %}",
                method: 'POST',
                data: serializedData,
                success: function (response) {
                    let instance = JSON.parse(response["instance"]);
                    let fields = instance[0]["fields"];
                    $("#add_comment").trigger('reset');
                    let formatted_date_time = new Date(fields[('date_added')]);
                    let date = formatted_date_time.toLocaleDateString();
                    let time = formatted_date_time.toLocaleTimeString();
                    $("#new_comment").prepend(`<h6>Written: ${date} ${time} by: ${fields['author']}</h6><p>${fields['text']}</p>`);
                }
            })
        });
    </script>
{% endblock %}
