{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit:{{ object.title|title }}{% endblock %}
{% block content %}
    <h2>Post edition</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" onclick="window.location.href='{% url 'post:post_list' %}'">Save</button>
    <button type="button" onclick="window.location.href='/'">Home page</button>
    </form>
{% endblock %}
