{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Search{% endblock %}
{% block content %}
    <h2>Searching results:</h2><p></p>
    {% for post in object_list %}
       <h4 class="post_title"><a href="{% url 'post:post_detail' post.pk %}">{{ post.title|title }}</a></h4>
        <p>{{ post.created }} - <img class="image_micro" src="{{ post.author.profile.image.url }}"> <strong>{{ post.author }}</strong></p>

        <div class="post_image">
        {% if post.image %}
            <img src="/media/{{ post.image }}" class="image_mini">
        {% endif %}
        </div>
        <p></p>
        <p>{% autoescape off %}{{ post.body|truncatewords:30 }}{% endautoescape %}</p>
        <p>Total comments: {{ post.comments.all.count }}</p>
    {% endfor %}

{% endblock %}


