{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h2>{{ user.username }} Profile Page</h2>
    <img src="{{ user.profile.image.url }}">
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Accept changes">
    </form>
{% endblock %}