{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register Page</h2>
    <h3>Welcome {{ new_user.username }}, your account has been created, you can login <a href="{% url 'login' %}">here</a></h3>
{% endblock %}