{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register Page</h2>
    <form action="#" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Create account">
    </form>
{% endblock %}